{% extends 'app_webapp_draw/base.html' %}
{%load static%}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/display_image.css' %}">


  {% for image in imgs%}
  <div class = "row">
    <div class = "col-sm-10">
        <div class="card mb-3">
          <img class="card-img-top" src ="/static/{{image.image}}"

            <div class="card-body">
              <h5 class = card-title>{{image.title}}</h5>
              <p class = "card-text">{{image.desc}}</p>

              <div class = "card-footer">
                <small class ="text-muted">{{image.date}}</small>
              </div>

            </div>


      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
